.container {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../assets/images/background.jpg");
  color: white;
  border-bottom: 8px solid #222;
  .mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 150px auto 150px auto;
    .header {
      text-align: center;
      width: 600px;
      margin: auto;
      font-size: 60px;
    }
    .subheader {
      font-weight: 500;
    }
    p {
      width: max-content;
      font-size: 1.25rem;
    }
    form {
      width: 60%;
      display: flex;
      align-items: center;
      input {
        width: 70%;
        height: 70px;
        padding: 20px;
        font-size: medium;
        &:focus {
          outline: none;
        }
      }
      button {
        width: 30%;
        height: 70px;
        color: white;
        cursor: pointer;
        background-color: #e40a15;
        font-size: x-large;
        border: none;
        letter-spacing: 1px;
      }
      .inputError {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 3px solid #ffa00a;
      }
    }
    .error {
      color: #ffa00a;
      margin: 8px 585px 0 0;
      font-size: 15px;
    }
  }
}
