.container {
  .mainSection {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 100px auto;
    text-align: center;
    h3 {
      margin: 0;
      font-size: x-large;
    }
    p {
      margin: 25px;
      font-size: small;
    }
    ul {
      list-style: none;
      text-align: left;
      li {
        padding: 10px 0;
        display: flex;
        font-weight: 100;
        span {
          margin-left: 10px;
        }
      }
    }
    .nextButton {
      cursor: pointer;
      background-color: #e40a15;
      color: white;
      border: 0;
      padding: 10px;
      font-size: large;
    }
  }
}
