.container {
  height: 100%;
  color: #ffffff;
  background-color: #141414;
  padding: 25px 30px;
  .movieListContainer {
    overflow: auto;
    white-space: nowrap;
    .movieItem {
      max-height: 300px;
      margin: 2.5px 5px;
      display: inline-block;
      list-style: none;
      z-index: 999;
      &:hover {
        outline: 0.5px solid white;
      }
    }
  }
}
