@font-face {
  font-family: 'netflix-rg';
  font-display: swap;
  src: url("../assets/fonts/NetflixSans_W_Rg.woff2") format('woff2');
}
@font-face {
  font-family: 'netflix-md';
  font-display: swap;
  src: url("../assets/fonts/NetflixSans_W_Md.woff2") format('woff2');
}
.container{
  padding: 0;
  margin: 0;
  font-family: 'netflix-rg','netflix-md';
}